<table class="table" id='tab'>
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quntity</th>
        <th scope="col">Category</th>
        <th scope="col">Created At</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.createdAt }}</td>
        <td class="edit" (click)="onClickEdit(product)" style="color: blue;" [routerLink]="'/product-edit'">edit</td>
        <td class="delete" (click)="onDeleteClick(product)" style="color: blue;" [routerLink]="'/products'">delete</td>
    </tr>
    </tbody>
</table>  
