<h1 style="margin-left: 350px;">Products List</h1>

<div class="form-group row">
    <div class="form-group row">
      <label for="search" class="col-sm-2 col-form-label" style="text-align: right;" >Search</label>
      <div class="col-sm-9" style="padding-left: 70px;">
        <input type="text" [(ngModel)]="searchValue" (input)="searchValue=$event.target.value" class="form-control" id="search" />
      </div>
  </div>
  </div>

  <button [routerLink]="'/add-product'">Create</button>

<table class="table" id='tab'>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Category</th>
            <th scope="col">Created At</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | productsearchfilter: searchValue">
            <td>{{ product.name }}</td>
            <td>{{ product.price }}$</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.createdAt }}</td>

            <td class="edit" (click)="onClickEdit(product)" style="color: blue;" [routerLink]="'/product-edit'">Edit
            </td>
            <td class="delete" (click)="onDeleteClick(product)" style="color: blue;" [routerLink]="'/products'">Delete
            </td>
        </tr>
    </tbody>
</table>