<table class="table" id='tab'>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Created At</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName}}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.createdAt }}</td>
      <td class="edit" (click)="onClickEdit(product)" style="color: blue;">Edit</td>
      <td class="delete" (click)="onDeleteClick(product)" style="color: blue;">Delete</td>
    </tr>
  </tbody>
</table>