<h1 style="margin-left: 350px;">Users List</h1>
<table class="table" id='tab'>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Created At</th>
      <th scope="col">Change User Role</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName}}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.createdAt }}</td>
      <input [(ngModel)]="userRole" id="UserRole" value={{user.role}} (input)="userRole=$event.target.value" >
      <td class="edit" (click)="onClickEdit(user)" style="color: blue;">Edit</td>
      <td class="delete" (click)="onDeleteClick(user)" style="color: blue;">Delete</td>
    </tr>
  </tbody>
</table>