<h1 style="margin-left: 350px;">Orders List</h1>
<table class="table" id='tab'>
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Order Id</th>
            <th scope="col">Total Price</th>
            <th scope="col">Created At</th>
            <th scope="col">Current Order Status</th>
            <th scope="col">Change Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>{{ order.user }}</td>
            <td>{{ order._id }}</td>
            <td>{{ order.totalPrice }}$</td>
            <td>{{ order.createdAt }}</td>
            <td>{{ order.orderStatus }}</td>
            <select [(ngModel)]="Ostatus" (input)="Ostatus=$event.target.value" value={{order.orderStatus}}
                style="font-size: 16px;" name="status" id="cars">
                <optgroup label="Delivery Status">
                    <option value="On Process">On Process</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Cancelled">Cancelled</option>
                </optgroup>
            </select>
            <!-- <input [(ngModel)]="Ostatus" id="OrderName" value={{order.orderStatus}}
                (input)="Ostatus=$event.target.value"> -->
            <td class="edit" (click)="onClickEdit(order)" style="color: blue;">Edit</td>
            <td class="delete" (click)="onDeleteClick(order)" style="color: blue;">Delete</td>

        </tr>
    </tbody>
</table>