<h1 style="margin-left: 350px;">Orders List</h1>

<div class="form-group row">
    <div class="form-group row">
      <label for="search" class="col-sm-2 col-form-label" style="text-align: right;" >Search</label>
      <div class="col-sm-9" style="padding-left: 70px;">
        <input type="text" [(ngModel)]="searchValue" (input)="searchValue=$event.target.value" class="form-control" id="search" />
      </div>
  </div>
  </div>

<table class="table" id='tab'>
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Order Id</th>
            <th scope="col">Total Price</th>
            <th scope="col">Created At</th>
            <th scope="col">Current Order Status</th>
            <th scope="col">Change Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders | orderssearchfilter: searchValue">
            <td>{{ order.user }}</td>
            <td>{{ order._id }}</td>
            <td>{{ order.totalPrice }}$</td>
            <td>{{ order.createdAt }}</td>
            <td>{{ order.orderStatus }}</td>
            <select [(ngModel)]="Ostatus" (input)="Ostatus=$event.target.value" value={{order.orderStatus}}
                style="font-size: 16px;" name="status" id="cars">
                <optgroup label="Delivery Status">
                    <option value="On Process">On Process</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Cancelled">Cancelled</option>
                </optgroup>
            </select>
            <td class="edit" (click)="onClickEdit(order)" style="color: blue;">Edit</td>
            <td class="delete" (click)="onDeleteClick(order)" style="color: blue;">Delete</td>

        </tr>
    </tbody>
</table>